.pr-approach {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 80px auto 0;
	position: relative;
	font-family: $proxima;
	@include tablets {
		margin: 160px auto 0;
	}
	.heading__sub {
		text-transform: uppercase;
	}
	.paragraph {
		margin-top: 50px;
		margin-bottom: 0;
		color: $grey-dark;
	}
	&__fon-title-area {
		max-width: 700px;
		width: 100%;
		text-align: center;
		margin: 25px auto;
		@include tablets {
			margin: 0 auto;
		}
		.fon-title {
			color: $grey-light;
			font-family: $sofia-semibold;
			font-size: 110px;
			font-weight: 400;
			line-height: 22px;
			margin:0;
			@include tablets {
				font-size: 200px;
			}
		}
	}
	&__particle {
		position: absolute;
		top: 0px;
		right: 0;
	}
}