.pr-competitivepricing {
	max-width: 1230px;
	z-index: 2;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	font-family: $proxima;
	.paragraph {
		max-width: 100%;
		margin-top: 0;
		margin-bottom: 10px;
		@include laptop {
			max-width: 600px;
			margin-bottom: 15px;
		}
	}
	&__row {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include laptop {
			flex-direction: row;
		}
	}
	&__col {
		flex:1;
	}
	&__padding-left {
		padding-left: 0;
		@include laptop {
			padding-left: 80px;
		}
	}
	&__hidden-line {
		&:before {
			display: none;
		}
	}
	&__info-hidden {
		position: absolute;
		display: none;
		top: -90px;
		left: 50px;
		padding: 60px 90px;
		background-color: $white;
		width: 620px;
		z-index: 1;
		text-align: left;
		box-shadow: 0 10px 120px rgba(42, 42, 42, 0.2);
		border: 1px solid $lilac;
		* {
			margin: 0;
			padding: 0;
		}
		&:before {
			display: block;
			content: '';
			position: absolute;
			top: 64px;
			left: 0;
			width: 0;
			height: 0;
			border-top: 36px solid transparent;
			border-bottom: 36px solid transparent;
			border-right: 36px solid $white;
			transform: translateX(-50%);
		}
		p {
			padding-top: 25px;
			color: $grey-dark;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
		}
	}
	&__info {
		width: 24px;
		height: 24px;
		display: inline-block;
		position: relative;
		margin-left: 10px;
		border:1px solid $blue;
		border-radius: 50%;
		color: $blue;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		cursor: pointer;
		&:hover {
			.pr-competitivepricing__info-hidden {
				display: block;
			}
		}
	}
	&__inline {
		display: inline;
	}
}