.pr-partnership {
	@include max-width;
	position: relative;
	z-index: 10;
	&__paragraph {
		font-size: 14px;
		line-height: 28px;
		max-width: 650px;
		padding-bottom: 14px;
		margin-top: 8px;
		margin-bottom: 0;
		@include tablets {
			font-size: 18px;
		}
		@include laptop {
			max-width: 520px;
		}
		@include desktop {
			max-width: 650px;
		}
	}
	&__particle {
		position: absolute;
		right: 0;
		top: -40px;
	}
	&__circle {
		position: absolute;
		z-index: 2;
		bottom: 30px;
		right: 415px;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		background-color: $violet-light1;
		border:33px solid $blue;
		@include tablets {
			font-size: 18px;
			max-width: 580px;
		}
	}
	&__heart{
		position: absolute;
		z-index: 1;
		bottom: 25px;
		right: 240px;
		border-radius: 50%;
		width: 220px;
		height: 220px;
		background-color: $violet-light2;
		&:before {
			content: "";
			position: absolute;
			top: -20px;
			bottom: -20px;
			left: -20px;
			right: -20px;
			border-radius: 50%;
			border: 2px solid $violet-light2;
		}
		&:after{
			content: "";
			position: absolute;
			top: calc(50% - 34px);
			left: calc(50% - 34px);
			width: 68px;
			height: 68px;
			background: url("/static/images/process/heart.svg") no-repeat;
			background-size: 100%;
		}
	}
	&__cart{
		position: absolute;
		z-index: 2;
		bottom: 25px;
		right: 50px;
		border-radius: 50%;
		width: 220px;
		height: 220px;
		background-color: $blue;
		&:before {
			content: "";
			position: absolute;
			top: -20px;
			bottom: -20px;
			left: -20px;
			right: -20px;
			border-radius: 50%;
			border: 2px solid $blue;
		}
		&:after{
			content: "";
			position: absolute;
			top: calc(50% - 34px);
			left: calc(50% - 34px);
			width: 68px;
			height: 68px;
			background: url("/static/images/process/cart.svg") no-repeat;
			background-size: 100%;
		}
	}
	&__padding-bottom {
		padding-bottom: 270px;
		@include laptop {
			padding-bottom: 100px;
			margin-bottom: -100px;
		}
	}
}