.pr-testdriven {
	max-width: 1440px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	font-family: $proxima;
	@include laptop {
		min-height: 100vh;
	}
	&__fon-title-area {
		max-width: 700px;
		width: 100%;
		text-align: center;
		margin: 25px auto;
		@include tablets {
			margin: 0px auto 80px;
		}
		.fon-title {
			color: $grey-light;
			font-family: $sofia-semibold;
			font-size: 110px;
			font-weight: 400;
			line-height: 22px;
			margin:0;
			@include tablets {
				font-size: 200px;
			}
		}
	}
	&__go-next-section{
		display: none;
		@include laptop {
			padding: 10px 25px;
			position: absolute;
			top: 150px;
			left: 50%;
			transform: translateX(-50%);
			display: inline-block;
			border: 1px solid #e0e0ff;
			cursor: pointer;
			color: $blue;
			transition: box-shadow 0.3s;
			text-decoration: none;
			&:hover {
				box-shadow: 0 1px 3px 0 rgba(33, 33, 33, 0.3);
			}
		}
	}
	&__content {
		max-width: 580px;
		width: 100%; 
		margin: 10px auto;
		padding: 20px 30px;
		box-shadow: 0 10px 120px rgba(42, 42, 42, 0.2);
		border: 1px solid $lilac;
		background-color: $white;
		transition: all .3s;

		&--hidden {
			opacity: 0;
		}
		@include laptop {
			height: 290px;
			margin: 100px auto 50px;
			padding: 40px 60px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			&--hidden {
				opacity: 0;
			}
		}

		@include retina {
			max-width: 1112px;
			margin-top: 60px;
			padding-top: 15px;
			justify-content: flex-start;
		}
		* {
			margin: 0;
			padding: 0;
		}
		.content-show {
			opacity: 1;
			height: auto;
			overflow: hidden;
			transition: all 1s;
			@include laptop {
				height: 0;
				opacity: 0;
			}
			&.active {
				height: auto;
				opacity: 1;
			}
		}
		.content-title {
			color: $blue;
			font-size: 18px;
			font-weight: 700;
			line-height: 34px;
			padding-bottom: 10px;
			padding-top: 25px;
			@include laptop {
				padding-bottom: 20px;
				padding-top: 0;
				font-size: 24px;
				text-align: center;
			}

			@include retina {
				padding-bottom: 10px;
			}
		}
		ul {
			padding-left: 15px;
		}
		li, p {
			color: $grey-dark;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
		}
	}
	&__wave-area {
		width: 1020px;
		margin: 0 auto;
		height: 165px;
		display: none;
		background-image: url("/static/images/process/testdriven/step/step8.png"); 
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: relative;
		transition: all 0.8s;
		@include laptop {
			display: block;
		}
		@include desktop {
			width: 1360px;
		}

		@include retina {
			transform: scale(0.8)
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			background-color: rgba(255,255,255,0.6);
			z-index: 0;
		}
		&.step-1 {
			&:after {
				width: 883px;
				@include desktop {
					width: 1178px;
				}
			}
		}
		&.step-2 {
			&:after {
				width: 761px;
				@include desktop {
					width: 1014px;
				}
			}
		}
		&.step-3 {
			&:after{
				width: 611px;
				@include desktop{
					width: 818px;
				}
			}
		}
		&.step-4 {
			&:after {
				width: 473px;
				@include desktop {
					width: 630px;
				}
			}
		}
		&.step-5 {
			&:after { 
				width: 373px;
				@include desktop {
					width: 501px;
				}
			}
		}
		&.step-6 {
			&:after {
				width: 274px;
				@include desktop {
					width: 358px;
				}
			}
		}
		&.step-7 {
			&:after {
				width: 193px;
				@include desktop {
					width: 259px;
				}
			}
		}
		&.step-8 {
			&:after {
				width: 0;
			}
		}
		.item-wave {
			position: absolute;
			width: 150px;
			height: 150px;
			cursor: default;
			z-index: 3;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 70px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $blue;
				transition: all 0.4s;
			}
			&.active {
				&:before {
					top: -45px;
					left: 25px;
					width: 100px;
					height: 100px;
					border: 2px solid $blue;
					z-index: 2;
				}
				h4.wave-title {
					top: 45px;
					color: $blue;
					&.text-top {
						bottom: 190px;
						top: auto;
					}
				}
			}
			.wave-title {
				color: $dark-pale;
				font-size: 14px;
				line-height: 18px;
				font-weight: 700;
				width: 200px;
				position: absolute;
				left: calc(50% - 100px);
				text-align: center;
				top: 0;
				transition: all 0.4s;
				@include desktop {
					font-size: 18px;
					line-height: 28px;
				}
				&.text-top {
					bottom: 145px;
					top: auto;
				}
			}
			&.active {
				color: $blue;
				font-weight: 700;
			}
			&:nth-child(1) {
				left: 62px;
				top: 7px;
				@include desktop{
					left: 106px;
					top: 7px;
				}
				&.active{
					&:before {
						background: url("/static/images/process/testdriven/projectkickoff.svg") no-repeat center center, #fff;
						background-size: 55%;
					}
				}
			}
			&:nth-child(2) {
				left: 184px;
				top: 63px;
				@include desktop{
					left: 270px;
					top: 63px;
				}
				&.active {
					&:before {
						background: url("/static/images/process/testdriven/development.svg") no-repeat center center, #fff;
						background-size: 55%;
					}
				}
				.wave-title {
					top: 10px;
				}
			}
			&:nth-child(3) {
				left: 334px;
				top: 103px;
				@include desktop{
					left: 465px;
					top: 103px;
				}
				&.active {
					&:before {
						background: url("/static/images/process/testdriven/networking.svg") no-repeat center center, #fff;
						background-size: 55%;
					}
				}
			}
			&:nth-child(4) {
				left: 472px;
				top: 65px;
				@include desktop{
					left: 652px;
					top: 65px;
				}
				&.active {
					&:before {
						background: url("/static/images/process/testdriven/cloud-computing.svg") no-repeat center center, #fff;
						background-size: 55%;
					}
				}
				.wave-title {
					top: 10px;
				}
			}
			&:nth-child(5) {
				left: 568px;
				top: 36px;
				@include desktop{
					left: 783px;
					top: 36px;
				}
				&.active {
					&:before {
						background: url("/static/images/process/testdriven/checklist.svg") no-repeat center center, #fff;
						background-size: 55%;
					}
				}
			}
			&:nth-child(6) {
				left: 671px;
				top: 27px;
				@include desktop{
					left: 925px;
					top: 27px;
				}
				&.active {
					&:before {
						background: url("/static/images/process/testdriven/data.svg") no-repeat center center, #fff;
						background-size: 55%;
					}
				}
			}
			&:nth-child(7) {
				left: 752px;
				top: 38px;
				@include desktop{
					left: 1023px;
					top: 38px;
				}
				&.active {
					&:before {
						background: url("/static/images/process/testdriven/flag.svg") no-repeat center center, #fff;
						background-size: 55%;
					}
				}
			}
			&:nth-child(8) {
				left: 817px;
				top: 61px;
				@include desktop{
					left: 1112px;
					top: 61px;
				}
				&.active {
					&:before {
						background: url("/static/images/process/testdriven/cloud-computing.svg") no-repeat center center, #fff;
						background-size: 55%;
					}
				}
			}
		}
	}
}
