.tech{
    
    &__bg{
        
        &-pos1{
            display: flex;
            position: absolute;
            max-width: 1230px;
            z-index: 0;
            width: 100%;
            padding: 0px 15px;
            top: 100px;
            
            span{
                font-size: 12.5vw;
                font-family: "SofiaProBold";
                color: $violet-light3;
                white-space: nowrap;
                display: block;  
            } 
        }
        &-pos2{
            background-image: url(/static/images/arrows-bg.png);
            background-repeat: no-repeat;
            background-position: 90%;
            z-index: 1;
            display: block;
            position: relative;
            &--top{
                background-position: 80% 25%;
            }
        }
        &-pos3{
            filter: saturate(10);
            position: absolute;
            margin-left: 50%;
            margin-bottom: -2%;
            width: 448px;
        }

        &-pos4{
            z-index: 1;
            display: block;
            position: relative;

            @include desktop{
                background-image: url(/static/images/arrows-bg.png);
                background-repeat: no-repeat;
                background-position: 0 0;
            }
        }
        
    }
    
}