@font-face {
  font-family: "SofiaProMedium";
  src: url('/static/fonts/SofiaPro/SofiaProMedium.ttf');
}
@font-face {
  font-family: "SofiaProSemiBold";
  src: url('/static/fonts/SofiaPro/SofiaProSemiBold.ttf');
}


@font-face {
  font-family: "ProximaNova";
  src: url('/static/fonts/ProximaNova/ProximaNova-Regular.ttf');
}
@font-face {
  font-family: "ProximaNovaBold";
  src: url('/static/fonts/ProximaNova/ProximaNova-Bold.ttf');
}

@font-face {
  font-family: "BrandonGrotesqueBold";
  src: url('/static/fonts/BrandonGrotesque-Bold.ttf');
}