/* breakpoints */
@mixin desktop {
  @media (min-width: 1366px) {
    @content
  }
}
@mixin laptop {
  @media (min-width: 1024px) {
    @content
  }
}
@mixin tablets {
  @media (min-width: 768px) {
    @content
  }
}
@mixin phones {
  @media (min-width: 544px) {
    @content
  }
}

@mixin max-width {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@mixin grid-item {
  border: 1px solid $lilac;
  margin-left: -1px;
  margin-top: -1px;
  z-index: 1;
  transition: box-shadow .2s;
  background: $white;

  &:hover {
    z-index: 10;
    box-shadow: 0 10px 120px 0 rgba(42, 42, 42, 0.15);
  }
}