/* colors */
$blue: #223fd5;
$dark: #212121;
$grey-dark: #525252;
$dark-pale: #252525;
$lilac: #e0e0ff;
$quartz: #a5a5b9;
$white: #fff;
$red: #d53722;

/* fonts */
$sofia: 'SofiaPro';
$sofia-medium: 'SofiaProMedium';
$sofia-semibold: 'SofiaProSemiBold';

$proxima: 'ProximaNova';
$proxima-bold: 'ProximaNovaBold';
$proxima-semibold: 'ProximaNovaSemiBold';

$brandon-bold: 'BrandonGrotesqueBold';