/* colors */
$blue: #223fd5;
$blue2: #2962ff;
$blue3: #769aff;
$black: #000000;
$dark: #212121;
$grey-dark: #525252;
$dark-pale: #252525;
$lilac: #e0e0ff;
$quartz: #a5a5b9;
$grey-google: #878787;
$grey-light: #f7f7f7;;
$white: #fff;
$red: #d53722;
$orange: #e7711b;
$violet-light1: #dbdbff;
$violet-light2: #f1f1ff;
/* upwork reviews */
$light-blue: #14BFF4;
$bg-grey: #E0E0E0;
$green: #37A000;
$grey-upwork: #656565;

/* social icons */
$facebook: #3a5998;
$gplus: #d34836;
$linkedin: #007ab9;
$pinterest: #c8232c;
$twitter: #55acee;
$mail-alt: #888;




/* fonts */
$sofia: 'SofiaPro';
$sofia-medium: 'SofiaProMedium';
$sofia-semibold: 'SofiaProSemiBold';

$proxima: 'ProximaNova';
$proxima-bold: 'ProximaNovaBold';
$proxima-semibold: 'ProximaNovaSemiBold';

$brandon-bold: 'BrandonGrotesqueBold';

$air-icons: 'Air icons';

$gotham: 'Gotham';
$gotham-medium: 'GothamMedium';
$gotham-bold: 'GothamBold';