/* colors */
$blue: #3d5afe;
$blue-darker: #3a53dd;
$dark: #212121;
$dark-pale: #252525;
$lilac: #e0e0ff;
$white: #fff;
$lightgrey: #fafafa;
$grey: #dbdbdb;
$lightblue: #f3f6ff;
$lightgrey-secondary: #ecebec;

/* fonts */
$sofia-medium: 'SofiaProMedium';
$sofia-semibold: 'SofiaProSemiBold';

$proxima: 'ProximaNova';
$proxima-bold: 'ProximaNovaBold';