/* todo: comments for important */

.ec-intro {
  font-family: $proxima-semibold;
  white-space: nowrap;
  height: 100vh;
  background: url("/static/images/brackets.png") no-repeat fixed center;
  background-size: 200%;
  @include tablets {
    background-size: auto;
  }

  .react-parallax {
    overflow: visible !important;
  }


  &__parallax {
    &-content {
      height: 100vh;
      @include tablets {
        height: 500px;
      }
    }
    &-text {
      position: absolute !important;
      left: 50%;
      top: 50%;
      z-index: -1;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
      color: $blue;
      @include tablets {
        position: fixed !important;
      }

      &.sticky {
        position: absolute !important;
      }
    }
  }
}