.ec-intro {
  font-family: $proxima-semibold;
  white-space: nowrap;
  height: 100vh;
  background: url("/static/images/brackets.png") no-repeat fixed center;
  background-size: 200%;
  @include tablets {
    background-size: auto;
  }

  .react-parallax {
    overflow: visible !important;
  }

  &__parallax {
    &-content {
      height: 100vh;
      @include tablets {
        height: 500px;
      }
    }
    &-text {
      position: fixed !important;
      left: 50%;
      top: 50%;
      z-index: 1;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      &.sticky {
        position: absolute !important;
      }
    }

    &-title {
      font-size: 20px;
      font-family: $sofia-semibold;
      font-weight: 100;
      color: $blue;
      margin: 0;
      @include laptop {
        font-size: 60px;
      }
    }

    &-subtitle {
      font-size: 11px;
      @include tablets {
        font-size: 14px;
      }

      i {
        vertical-align: 3px;
        margin-left: 9px;
      }

    }
  }
}