.ec-rate {
  @include max-width;
  position: relative;
  z-index: 10;

  h2 {
    @include tablets {
      line-height: 66px;
    }
  }

  &__p {
    letter-spacing: .03em;
    line-height: 22px;
    max-width: 558px;
    padding: 22px 0 60px 100px;
    font: {
      size: 12px;
      family: $proxima;
      weight: 100;
    }
    @include tablets {
      font-size: 14px;
    }

    b {
      color: $blue;
      font-family: $proxima-semibold;
    }
  }

  &__columns {
    display: flex;
    max-width: 1200px;
    align-items: flex-start;
    flex-direction: column;
    @include tablets {
      flex-direction: row;
    }

    section {
      font: {
        size: 14px;
        family: $proxima;
        weight: 100;
      }
      @include tablets {
        width: 40%;
      }

      h4 {
        padding: 6px 0 15px 50px;
        margin: 0;
        letter-spacing: .03em;
        line-height: 22px;
      }
      b {
        color: $blue;
        font-family: $proxima-semibold;
      }
    }
  }

  &__particle {
    position: absolute;
    right: 0;
    top: -40px;
  }
}