.ec-themedev {
  @include max-width;
  position: relative;
  z-index: 10;
  h4 {
    margin-bottom: 15px;
    margin-top: 0;
    @include laptop {
      margin-bottom: 0;
    }
  }
  &__columns {
    display: flex;
    max-width: 1200px;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: column;
    @include laptop {
      flex-direction: row;
    }

    section {
      @include tablets {
        width: 100%;
        padding-right: 0;
      }
      @include laptop {
        width: 45%;
        padding-right: 100px;
      }
      p {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 15px;
        color: $dark-pale;
        font-family: $proxima;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        @include laptop {
          padding-bottom: 30px;
        }
        b {
          color: $blue;
          font-family: $sofia-semibold;
        }
      }

    }
  }
}