.experience{
    &__map{
        display: flex;
        justify-content: center;
        align-items: center;
        
        &-circle,
        &-mask{
            pointer-events: all;    
        }
        
        &-link{
            pointer-events: none;    
        }
        
        &-country{
            cursor: pointer;
            transition: all .3s;
            pointer-events: visible;
            fill: $grey;
            stroke-width: 1;
            &:hover{
                fill: $grey-dark2;   
            }
            
        }
    }
}