.blog-comment-form{
  margin: 0 5px;
  font-weight: 500;

  &__title.comment-messages__title {
    margin: 35px 0 15px;
    font-size: 30px;
    font-family: $sofia-semibold;
    font-weight: 800;
    letter-spacing: 0.7px;
    color: $dark-pale;

    + .comment {
      margin-top: 33px;
    }
  }
  &__title {
    font-family: $sofia-semibold;
    font-size: 16px;
    font-weight: normal;
    color: $dark-pale;
    letter-spacing: .3px;
    margin-bottom: 20px;
  }
  &__wrapper {
    padding: 23px 20px 16px 20px;
    border-top: 1px solid $lilac;
    border-right: 2px solid $lilac;
    border-bottom: 1px solid $lilac;
    border-left: 2px solid $lilac;
  }
  &__form-group {
    margin: 0 0 26px;
    position: relative;

    &:nth-child(1),
    &:nth-child(2) {
      width: 100%;
      float: left;
    }

    &:nth-child(3) {
      clear: both;
    }
  }
  &__textarea {
    width: 100%;
    min-height: 15vh;
    box-sizing: border-box;
    padding: 2% 3% 2% 0;
    outline: none;
    overflow: auto;
    resize: none;
    border: 0;
    border-bottom: 1px solid hsla(0,0%,46.7%,.25);
    color: $dark-pale;
    font-size: 20px;

    ~ span {
      &:after,
      &:before {
        bottom: 5px;
      }
    }
  }
  &__input {
    width: 100%;
    padding: 10px 0 5px;
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid hsla(0,0%,46.7%,.25);
    color: $dark-pale;
    font-size: 20px;
  }
  &__textarea,
  &__input {
    &:-webkit-autofill {
      -webkit-text-fill-color: $dark-pale;
      -webkit-box-shadow: 0 0 0 1000px $white inset;
    }
    &--dirty,
    &:focus {
      &~label{
        top: -13px;
        font-size: 14px;
        color: $blue2;
      }
    }
    &:focus{
      &~.blog-comment-form__input-bar{
        &:after,
        &:before {
          width: 50%;
        }
      }
    }
  }
  &__label{
    position: absolute;
    pointer-events: none;
    top: 3px;
    color: $grey-dark;
    -webkit-transition: top .4s, font-size .4s;
    transition: top .4s,font-size .4s;
    font-family: SofiaPro;
    font-size: 18px;

    &--textarea {
      top: 7px;
      left: 0;
    }
    span {
      color: $blue;
    }
  }
  &__error-message {
    display: none;
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    color: $red;

    &--show {
      display: block
    }
  }
  &__input-bar {
    width: 100%;
    position: relative;
    display: block;

    &:after {
      right: 50%;
    }
    &:before {
      left: 50%;
    }
    &:after,
    &:before {
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      background: $blue2;
      transition: all .4s;
      content: "";
    }
  }
  &__submit-button {
    width: 114px;
    height: 46px;
    margin: 0 auto 25px;
    display: block;
    text-transform: lowercase;
    text-align: center;
    border-top: 1px solid $lilac;
    border-right: 2px solid $lilac;
    border-bottom: 1px solid $lilac;
    border-left: 2px solid $lilac;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    background: $white;
    font-family: $proxima;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: $blue;
    transition: all .2s ease-in;

    &:focus,
    &:hover {
      background: $blue;
      border-color: $blue;
      color: $white;
    }
    &:disabled {
      background-color: $blue3;
      cursor: auto
    }
  }
  @include tablets {
    &__input-bar {
      width: 100%;
    }
    &__submit-button {
      margin: 47px 0 40px
    }
  }
  @include desktop {
    &__title.comment-messages__title {
      margin: 15px 0;
      font-size: 32px;
    }
    &__wrapper {
      padding: 40px 46px 16px 46px;
    }
    &__form-group {
      &:first-child {
        margin-right: 8.8%;
      }
      &:nth-child(1),
      &:nth-child(2) {
        width: 45.6%;
      }
      &:nth-child(3) {
        margin-bottom: 44px;
      }
    }
    &__submit-button {
      margin: 0 0 40px;
    }
  }
}