.contact-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 40px 18px rgba(28, 28, 28, 0.05);
  @include tablets {
    flex-direction: row;
  }

  &__body {
    padding: 15px 20px;
    background: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include tablets {
      padding: 45px 80px 15px;
      width: calc(880 / 990 * 100% );
    }
  }

  &__submit {
    background: $blue;
    color: $white;
    position: relative;
    transition: background .3s;
    padding: 10px 0;
    @include tablets {
      width: calc(110 / 990 * 100%);
    }
    &:hover {
      background: $dark;
    }

    button {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      span {
        color: $white;
        letter-spacing: 0.05em;
        margin-top: 7px;
        font: {
          family: $proxima;
          size: 12px;
        }
        @include tablets {
          font-size: 16px;
        }
      }

      img {
        width: 16px;
        height: 16px;
        @include tablets {
          width: 26px;
          height: 26px;
        }
      }
    }
  }

  &__field {
    width: 100%;
    position: relative;
    padding: 27px 0 17px;
    display: flex;
    flex-direction: column;
    &--big{
      width: 100%;
    }
    @include tablets {
      width: calc(50% - 10px);
      &--big{
        width: 100%;
      }
    }
    @include laptop {
      width: calc(50% - 40px);
      &--big{
        width: 100%;
      }
    }

    &--text {
      input,
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $lilac;
        height: 40px;
        outline: none;
      }

      textarea {
        padding-top: 10px;
        height: 71px;
        resize: none;
      }

      label,
      input,
      textarea {
        font: {
          size: 12px;
          family: $sofia;
          weight: 100;
        }
        @include tablets {
          font-size: 18px;
        }
      }

      label {
        transition: transform .3s;
        display: block;
        order: -1;
      }

      input + label {
        position: absolute;
        left: 0;
        top: 35px;
        cursor: text;
      }

      input{
        &:focus,
        &:not([value='']) {
          & + label {
            transform: translate(-10%, -25px) scale(.8)
          }
        }
      }

      textarea {
        &:focus,
        &.filled {
          & + label {
            transform: translate(-10%, 0) scale(.8)
          }
        }
      }

      &.required label:after {
        content: '*';
        color: $blue
      }
    }
  }

  &__wrapper {
    position: relative;
    .field-error {
      padding: 5px 0;
      color: $red;
      font: {
        family: $proxima-semibold;
        size: 11px;
      }
    }
  }
  &__mask{
    display: flex;
    transition: width 1.2s;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    bottom: 0px;
    padding: 0 15px;
    z-index: 10;
    background: $blue;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "SofiaPro";
    font-size: 18px;
    font-weight: 100;
    color: $white;
    &.disablemask {
      opacity: 0;
      z-index: -1;
      width: calc(110 / 990 * 100%);
    }
  }
  .loader {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 75px;
    height: 75px;
    animation-name: rotateAnim;
    animation-duration: 0.98s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .loader div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid rgba(224,224,255,0.95);
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .loader div:nth-child(odd) {
    border-top: none;
    border-left: none;
  }
  .loader div:nth-child(even) {
    border-bottom: none;
    border-right: none;
  }
  .loader div:nth-child(2) {
    border-width: 1px;
    left: 0px;
    top: -3px;
    width: 9px;
    height: 9px;
  }
  .loader div:nth-child(3) {
    border-width: 1px;
    left: -1px;
    top: 2px;
    width: 13px;
    height: 13px;
  }
  .loader div:nth-child(4) {
    border-width: 2px;
    left: -1px;
    top: -3px;
    width: 18px;
    height: 18px;
  }
  .loader div:nth-child(5) {
    border-width: 2px;
    left: -1px;
    top: 3px;
    width: 24px;
    height: 24px;
  }
  .loader div:nth-child(6) {
    border-width: 3px;
    left: 0px;
    top: -3px;
    width: 30px;
    height: 30px;
  }
  .loader div:nth-child(7) {
    border-width: 3px;
    left: 0px;
    top: 4px;
    width: 37px;
    height: 37px;
  }
  @keyframes rotateAnim {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}