.react-cookie-law-dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: 15;
  border-top: 1px solid #e0e0ff;
  .react-cookie-law-container {
    max-width: 1230px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    font-family: $proxima;
    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }
  .react-cookie-law-msg {
    padding-bottom: 10px;
  }
  .react-cookie-law-option-checkbox {
    margin-top: -1px;
  }
  .react-cookie-law-accept-btn {
    outline: 0;
    right: 20px;
    display: block;
    cursor: pointer;
    color: $blue;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.8px;
    padding: 15px 30px;
    text-decoration: none;
    transition: all 0.6s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: $blue;
    border-image: initial;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}