.m-footer {
  @include max-width;
  padding-top: 45px;
  padding-bottom: 57px;

  &-wrapper {
    width: 100%;
    border-top: 1px solid $lilac;
  }

  &__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;

    @include tablets {
      flex-direction: row;
    }
  }

  &__map-link {
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: $blue;
    }
  }

  &__map-icon {
    height: 16px;
    margin-right: 8px;
  }

  &__title {
    width: 100%;
    letter-spacing: .03em;
    line-height: 28px;
    font: {
      family: $proxima-semibold;
      size: 14px;
      weight: 100;
    }
    @include tablets {
      font-size: 18px;
    }
  }

  &__cols {
    display: flex;
    flex-direction: column;
    @include tablets {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__col {
    @include tablets {
      &--left {
        width: 62.5%;
        padding-right: 30px;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__copy-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  &__copy {
    margin-top: 11px;
    line-height: 34px;
    letter-spacing: .03em;
    font: {
      family: $proxima;
      size: 11px;
    }
    @include tablets {
      font-size: 14px;
    }
  }

  &__nav {
    width: 100%;
    @include tablets {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    img {
      width: 110px;
    }
  }

  &__social {
    display: flex;
    width: 100%;
    @include phones {
      flex-wrap: wrap;
    }

    a {
      display: flex;
      flex: 1;
      height: 50px;
      align-items: center;
      justify-content: center;
      @include grid-item;
      @include tablets {
        min-width: 30%;
        height: 100px;
        width: 90px
      }
      @include laptop {
        height: 50px;
        min-width: 0;
      }

      svg {
        width: 21px;
        height: 18px;
        fill: $quartz;
      }

      &:hover svg {
        fill: $blue;
      }
    }
  }

  &__clutch-badge {
    width: 130px;
    margin: 20px 15px 0;
    @include tablets {
      width: 150px;
      margin: 20px 15px 0 0;
    }

    img {
      width: 100%;
    }
  }
}