.header {
  width: 100%;
  max-width: 1460px;
  padding: 10px 15px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: $white;  /* fallback for old browsers */

    @include tablets {
      background: -webkit-linear-gradient(to top, transparent, $white); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, transparent, $white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }



  &__logo {
    width: 110px;
    img {
      width: 100%;
    }
  }

  &__nav {
    align-items: stretch;
    display: flex;
  }
}