.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: $white;

  a {
    @include grid-item;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $dark;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: $white;
    margin-top: 20px;
    margin-bottom: 30px;
    font: {
      family: $proxima;
      weight: 800;
      size: 18px;
    }
    &:hover {
      box-shadow: 2px 2px 20px 0 rgba(42, 42, 42, 0.1);
    }

    &.active {
      background: $blue;
      color: $white;
      cursor: default;
      pointer-events: none;
      border-color: $blue;
      &:hover {
        box-shadow: none;
      }
    }
  }
}