.post-filters {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    letter-spacing: 1.5px;

    @include laptop {
        flex-direction: row;
    }

    &__select {
        width: 100%;
        padding: 20px;

        @include laptop {
            width: 33.3333%;
        }

        &--top {
            z-index: 10;
        }
    }

    .postFilterSelect {
        z-index: 10;
        width: 100%;
    }

    &__apply {
        background: $blue;
        letter-spacing: 1.5px;
        z-index: 3;
        width: 250px;
        height: 38px;
        color: $white;
        margin: 20px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color .3s;

        &:hover {
            background-color: $black;
        }
        @include laptop {
            width: 23%;
        }
    }
}