.hidden {
	display: none;
}
.error{
	background: $red;;
}
.cursor--default{
    cursor: default;
}

@keyframes fadeInDowCustom {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.fadeInDowCustom {
	@media screen and (min-width: 768px){
		animation-name: fadeInDowCustom;
	}
	
}