.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
  transition: opacity .5s;

  $b: &;

  &__elem {
    position: relative;
    max-height: calc(100vh - 400px);
    width: 151px;
    height: 200px;
    transition: margin .5s;
    user-select: none;
    z-index: -1;
    @include tablets {
      height: 381px;
      width: 351px;
    }

    &--bracket {
      &.move {
        margin-top: -50%;
      }
    }

    &--bracket-reverse {
      transform: scaleX(-1);
      &.move {
        margin-top: 50%;
      }
    }

    &--slash {
      max-height: calc(100vh - 300px);
      margin: 0;
      width: 150px;
      @include tablets {
        height: 570px;
        width: 311px;
        margin: 0 100px;
      }

      &.hide {
        opacity: 0;
      }
    }

    div,
    img {
      width: 100%;
      height: 100%;
    }
  }

  &--absolute {
    position: absolute;
    height: 100%;
    transform: scaleX(-1);

    #{$b}__elem--bracket.move {
      margin-top: -100%;
      @include tablets {
        margin-top: -160%;
      }
    }

    #{$b}__elem--bracket-reverse.move {
      margin-top: 50%;
      @include tablets {
        margin-top: 130%;
      }
    }

    &:after {
      z-index: 0;
      content: '';
      top: -20%;
      height: 120%;
      left: 0;
      position: absolute;
      width: 100%;
      background: rgba($white, .7);
      @include tablets {
        height: 125%;
      }
    }
  }

  &--static {
    position: absolute;
    opacity: .6;

    #{$b}__elem--slash {
      @include tablets {
        margin: 0;
      }
    }
    #{$b}__elem--bracket {
      margin-right: -100px;
    }
    #{$b}__elem--bracket-reverse {
      margin-left: -100px;
    }
  }

}