.content {
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0 0 100px;
	&__adaptive {
		overflow-x: hidden;
		&>div {
			margin: 0 auto;
			@include desktop {
				max-width: 100%;
			}
		}
	}
}