.s-icon{
  width: 30px;
  height: 30px;
  margin: 0 15px 15px 0;
  line-height: 31px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  color: $white;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  transition: box-shadow .3s ease;

  &--facebook {
    background: $facebook;
    .icon-facebook{
      &:before {
        content: "\F09A";
      }
    }
  }
  &--gplus {
    background: $gplus;
    .icon-gplus{
      &:before {
        content: "\F0D5";
      }
    }
  }
  &--linkedin {
    background: $linkedin;
    .icon-linkedin{
      &:before {
        content: "\F0E1";
      }
    }
  }
  &--pinterest {
    background: $pinterest;
    .icon-pinterest{
      &:before {
        content: "\F231";
      }
    }
  }
  &--twitter {
    background: $twitter;
    .icon-twitter{
      &:before {
        content: "\F099";
      }
    }
  }
  &--email {
    background: $mail-alt;
    .icon-email{
      &:before {
        content: "\F0E0";
      }
    }
  }
  [class*=" icon-"],
  [class^=icon-]{
    &:before{
      font-family: fontello;
      font-style: normal;
      font-weight: 400;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: .2em;
    }
  }
  @include tablets {
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 43px;
  }
}