.s-icon{
  width: 20px;
  height: 20px;
  margin: 0 15px 15px 0;
  line-height: 21px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: $black;
  transition: box-shadow .3s ease;

  &--facebook {
    .icon-facebook{
      &:before {
        content: "\F09A";
      }
    }
  }
  &--gplus {
    .icon-gplus{
      &:before {
        content: "\F0D5";
      }
    }
  }
  &--linkedin {
    .icon-linkedin{
      &:before {
        content: "\F0E1";
      }
    }
  }
  &--pinterest {
    .icon-pinterest{
      &:before {
        content: "\F231";
      }
    }
  }
  &--twitter {
    .icon-twitter{
      &:before {
        content: "\F099";
      }
    }
  }
  &--email {
    .icon-email{
      &:before {
        content: "\F0E0";
      }
    }
  }
  [class*=" icon-"],
  [class^=icon-]{
    &:before{
      font-family: fontello;
      font-style: normal;
      font-weight: 400;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      margin-left: .2em;
    }
  }
  @include tablets {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 23px;
  }
}