.blog-article-share{
  width: 100%;
  max-width: 470px;
  padding: 0 10px;
  box-sizing: border-box;
  order: 1;

  &__title {
    text-align: center;
    color: $grey-google;
    text-transform: uppercase;
    font-size: 25px;
    font-family: SofiaPro;
    font-weight: 700;
  }
  &__icons{
    margin: 20px 0 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @include tablets {
    max-width: 450px;
  }
  @include laptop {
    width: calc((100% - 800px)/2);
    max-width: none;
    margin: 25px 0 0;
    order: 0;

    &__icons{
      height: 470px;
      margin: 25px 0 0;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

}