.comment {
    width: 100%;
    margin: 0 auto;
    padding: 16px 0 11px;

    &:last-child {
        margin-bottom: -16px;
    }

    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        color: $grey;
    }

    &__message {
        font-size: 18px;

        p {
            margin-top: 10px;
            margin-bottom: 27px;
        }
    }

    &__author {
        display: flex;
        align-items: center;
        margin-right: 9px;

        &-photo {
            height: 38px;
            margin-right: 17px;

            img {
                width: 38px;
                height: 38px;
                border: 1px solid $lilac;
                border-radius: 50%;
            }
        }

        &-name {
            font-family: $proxima-bold;
            font-size: 14px;
            line-height: 22px;
            font-weight: normal;
            letter-spacing: 0.5px;
            color: $grey-dark;
        }
    }

    &__date {
        font-family: $proxima;
        font-size: 14px;
        line-height: 22px;
        font-weight: normal;
        color: $grey-dark;
    }

    @include tablets {

    }
}

.comment-messages {
    width: 100%;
    max-width: 581px;
    margin: 0 auto;

    &__title {
        margin-bottom: 33px;
        padding-bottom: 16px;
        border-bottom: 1px solid $lilac;
    }

    &__count {
        color: $blue;
    }

    .comment {
        &__message {
            font-family: $proxima;
            font-size: 18px;
            line-height: 28px;
            font-weight: normal;
            color: $dark-pale;
        }
    }
}