.blog-article-share{
  max-width: 190px;
  width: 100%;
  padding: 0 10px 0 0;
  box-sizing: border-box;
  order: 1;

  &__title {
    text-align: left;
    color: $dark-pale;
    text-transform: capitalize;
    font-size: 18px;
    font-family: $sofia;
    font-weight: normal;
  }
  &__icons{
    margin: 20px 0 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @include tablets {
    max-width: 200px;
  }
  @include laptop {
    margin: 18px 0 0;
    order: 0;

    &__icons{
      height: 186px;
      margin: 25px 0 0;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
  }
}