.pp-content {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 60px auto 0;
	position: relative;
	font-family: $proxima;
	* {
		margin: 0;
		padding: 0;
	}
	p, li {
		font-size: 16px;
		line-height: 20px;
	}
	p, ul {
		margin-bottom: 20px;
	}
	ul {
		padding-left: 20px;
	}
	h3 {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 10px;
		font-family: $proxima-semibold;
	}
}